@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,500;1,300&display=swap');
*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

body    {
    min-width: 475px;
    max-width: 1600px;
}

header  {
    background-color: #1c1c20cc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.Menu   {
    list-style: none;
}

.Menu li, a  {
    color: #edf0f1;
    font-family: "Prata";
    font-weight: 500;
    text-decoration: none;
}

.Menu li    {
    display: inline-block;
    padding: 0px 35px;
}   

.Menu li a  {
    font-size: 18px;
    transition: all 0.3s ease 0ms;
    display: block;
    padding: 20px;
}

.Menu li a:hover    {
    background-color: #28abb9;
    color: rgba(43, 42, 42, 0.842);
    border-radius: 5px;
}
/*Home page starts*/
#HomePage   {
    background-color:  #edf0f1;
    color: #28aab9e1;
    font-family: "Josefin Sans";
    font-size: 30px;
    font-weight: 500;
    line-height:  75px;
    padding: 175px 100px;   
}

#name   {
    color: black;
    font-family: "Josefin Sans";
    font-size: 50px;
}

span    {
    color: white;
    font-weight: 800;
}

button {
    background-color: rgba(43, 42, 42, 0.842);
    color:#edf0f1;
    font-family: "Prata";
    font-size: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;  
}

button:hover    {
    background-color: #28aab9e1;
    color: black;
    cursor: pointer;
}

img#icon  {
    overflow: auto;
    border: none;
    text-align: right;
    float: right;
    position: relative;
    top: -400px;
}
/*RESPONSIVE HOME PAGE START*/
@media screen and (max-width: 1180px)   {      /*For Tab size*/
    #HomePage   {
        font-size: 25px;
        padding: 90px 80px 20px 160px;
        line-height:  65px;
    }

    #name   {
        font-size: 42px;
    }

    button  {
        position: relative;
        top: -10px;
        bottom: 180px;
        padding: 8px 20px;
    }

    img#icon {
        float: none;
        position: relative;
        right: 0;
        left: -15px;
        top: 30px;
        height: 230px;
        width: 380px;
        margin: 0 20px 40px 0;
    }

    .Menu li    {
        padding: 5px 24px 5px 24px;
    }   

    .Menu li a  {
        font-size: 16px;
        padding: 20px;
    }
}
@media screen and (max-width: 750px)   {    /*Tab view 2*/
    #HomePage   {
        font-size: 22px;
        padding: 60px 20px 20px 75px;
        line-height:  65px;
    } 

    #name   { 
        font-size: 36px;
    }

    button  {
        font-size: 13px;
    }
    
    .Menu li    {
        align-content: center;
        padding: 4px 40% 4px 40%;
    }   
    
    .Menu li a  {
        padding: 7px 10px 7px 10px; 
    }
}
@media screen and (max-width: 548px)   {    /*Mobile view*/
    #HomePage   {
        font-size: 22px;
        padding: 60px 10px 20px 60px;
        line-height: 70px;
    }  
    
    #name   { 
        font-size: 35px;
    }
    
    .Menu li    {
        padding: 5px 40% 5px 40%;
    }   
}       /*RESPONSIVE HOME PAGE END*/
/*Home page ends*/

/*About page*/
#About  {
    height: 800px;
    background-color: #28abb9; 
    color:#edf0f1;
    font-family: "Josefin Sans";
    font-weight: 500;
    font-size: 34px;
    padding-top: 50px;
    text-align: center;
}

img#logo   {
    border-radius: 10px;
    float: left;
    overflow: auto;
    height: 67%;
    width: 25%;
    position: relative;
    left: 10%;
    top: 11%;
}

.About_title    {
    font-family: "Josefin Sans";
    font-size: 40px;
    color: black;
    position: relative;
    padding-top: 9%;
    padding-bottom: 20px;
    padding-left: 50%;
    text-align: left;
}

.About_content    {
    font-family: "Josefin Sans";
    font-weight: 300px;
    font-size: 25px;
    color:#edf0f1;
    padding: 1% 5% 2% 50%;
    text-align: left;
    line-height: 45px;
}
/*RESPONSIVE ABOUT PAGE START*/
@media screen and (max-width: 1140px)   {       /*Tab size*/
    img#logo   {
        height: 65%;
        width: 28%;
        left: 12%;
        top: 10%;
    }

    .About_title    {
        padding-bottom: 20px;
        font-size: 40px;
    }
    
    .About_content    {
        font-size: 24px;
        line-height: 40px;
    }
}
@media screen and (max-width: 1000px)   {       /*Tab view 2*/
    #About  {
        height: 750px;
        font-size: 28px;
        padding-top: 50px;
        min-width: 475px;
    }

    img#logo   {
        height: 65%;
        width: 31.5%;
        left: 6.5%;
        top: 12%;
    }

    .About_title    {
        padding-top: 10%;
        padding-bottom: 20px;
        padding-left: 45%;
        font-size: 34px;
    }
    
    .About_content    {
        font-size: 22px;
        padding-left: 45%;
        line-height: 40px;
    }
}
@media screen and (max-width: 800px) {      /*Tab view 3*/
    #About  {
        height: 880px;
        font-size: 27px;
    }

    img#logo   {
        height: 45%;
        width: 35%;
        float: none;
        left: -1%;
        top: 5%;
    }
    
    .About_title    {
        padding-top: 10%;
        padding-bottom: 18px;
        padding-left: 9%;
        font-size: 31px; 
    }
    
    .About_content    {
        font-size: 22px;
        padding-left: 9%;
        padding-bottom: 2%;
        line-height: 35px;
    }
} 
@media screen and (max-width: 700px) {      /*Mobile view*/
    #About  {
        height: 870px;
        font-size: 28px;
    }

    img#logo   {
        height: 335px;
        width: 240px;
        left: -1%;
        top: 35px;
    }
    
    .About_title    {
        padding-top: 13%;
        padding-bottom: 20px;
        padding-left: 6.5%;
        font-size: 28px; 
    }
    
    .About_content    {
        position: relative;
        font-size: 20px;
        padding-left: 6.5%;
        line-height: 35px;
    }
}                       /*RESPOSNIVE ABOUT PAGE END*/
/*About page Ends*/

/*Education Page starts*/
.Education1 {
    height: 800px;
    background-color:  rgba(43, 42, 42, 0.842);
    color:#28abb9;
    font-family: "Josefin Sans";
    font-size: 34px;
    padding-top: 50px;
    font-weight: 200;
}

.Education1 h1  {
    padding: 8px 0px;
    text-align: center;
}

.Education_content{
    color: snow;
    font-family: "Josefin Sans";
    font-size: 28px;
    line-height: 38px;
    text-align: left;
    padding-left: 21%;
    list-style-type: none;
    padding-top: 1%
}

.Education_title  {
    color: snow;
    font-family: "Josefin Sans";
    font-size: 28px;
    font-weight: 400;
}

.Education_site{
    color: snow;
    font-family: "Josefin Sans";
    font-size: 28px;
    line-height: 38px;
    font-weight: 300;
}

.Education_title:hover, .Education_site:hover  {
    color:#28abb9;
    cursor: all-scroll;
}

tab {
    display: inline-block;
    margin-left: 175px;
}

.extra {
    display: inline-block;
    margin-left: 310px;
}

.extra1  {
    display: inline-block;
    margin-left: 470px;
}
/*Education Responsive Page*/
@media screen and (max-width: 1330px)    {      /*Tab view*/
    .Education_title  {
        font-size: 26px;
        font-weight: 400;
    }

    .Education_content  {
        font-size: 26px;
        padding-left: 16%;
    }

    .Education_site{
        font-size: 26px;
    }

    tab {
        margin-left: 168px;
    }

    .extra {
        margin-left: 295px;
    }

    .extra1  {
        margin-left: 445px;
    }
}
@media screen and (max-width: 1070px)    {      /*Tab view 2*/
    .Education_content  {
        font-size: 25px;
        padding-left: 12%;
    }

    .Education1 {
        font-size: 32px;
        padding-top: 50px;
    }
    .Education_site{
        font-size: 25px;
    }

    tab {
        margin-left: 120px;
    }

    .extra {
        margin-left: 245px;
    }

    .extra1  {
        margin-left: 395px;
    }
}
@media screen and (max-width: 900px)    {       /*Tab view 3*/
    .Education1 {
        font-size: 30px;
        padding-top: 50px;
    }

    .Education_content  {
        font-size: 24px;
        padding-left: 10%;
    }

    .Education_title  {
        font-size: 23px;
    }

    .Education_site{
        font-size: 24px;
    }

    tab {
        margin-left: 90px;
    }

    .extra {
        margin-left: 199px;
    }

    .extra1  {
        margin-left: 330px;
    }
}
@media screen and (max-width: 755px)    {       /*Tab view 4*/
    .Education1 {
        font-size: 26px;
        padding-top: 50px;
    }

    .Education_content  {
        font-size: 20px;
        line-height: 40px;
        padding-left: 8%;
    }

    .Education_title  {
        font-size: 22px;
    }

    .Education_site{
        font-size: 20px;
        line-height: 38px;
        font-weight: 300;
    }
    tab {
        display: inline-block;
        margin-left: 22px;
    }

    .extra {
        display: inline-block;
        margin-left: 130px;
    }

    .extra1  {
        display: inline-block;
        margin-left: 256px;
    }
}
@media screen and (max-width: 610px)    {       /*Mobile view*/
    .Education1 {
        font-size: 25px;
    }

    .Education_content  {
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        padding-left: 0%;
    }

    .Education_title  {
        font-size: 19px;
    }

    .Education_site{
        font-size: 20px;
    }

    tab {
        margin-left: -3px;
    }

    .extra {
        margin-left: 88px;
    }

    .extra1  {
        margin-left: 197px;
    }
}       /*Responsive education page end*/
/*Education page ends*/

/*Skill page starts*/
#Skills  {
    height: 800px;
    background-color:#edf0f1;
    font-family: "Josefin Sans";
    color:rgba(43, 42, 42, 0.8);  
}

#Skills h1  {
    text-align: center;
    padding: 60px 0px;
    font-family: "Josefin Sans";
    font-size: 50px;
    font-weight: 1600px;
}

.Skill_box    {
    width: 47%;
    height: 66%;
    padding: 75px;
    color: black;
    font-weight: 800;
    background-color:#edf0f1;
    box-shadow: 0 0 30px rgba(43, 42, 42, 0.5);
    border-radius: 10px;
    position: relative;
    left: 70px;
}

.Skill_box p    {
    font-size: 23px;
    font-weight: 300px;
}

.progress   {
    width: 100%;
    background-color: #28aab95b;
    border-radius: 10px;
    margin: 20px 0px;
    height: 15px;
}

.progress_bar   {
    height: 100%;
    width: 50%;
    font-weight: 800;
    background-color: #28abb9;
    border-radius: 10px;
    position: relative;
    transition: all 2s;
}

.progress_bar span{
    position: absolute;
    top:0%;
    right:0%;
    font-size: 13px;
    padding:2px;
    color: rgba(43, 42, 42, 0.842);
}

#icon2  {
    max-height: 520px;
    width: 25%;
    position: relative;
    margin-right: 100px;
    top: -470px;
    border-radius: 10px;
    left: 66%;
}
/*RESPONSIVE SKILL PAGE STARTS*/
@media screen and (max-width: 1350px)    {      /*Tab view*/
    #Skills {
        height: 720px;
    }

    #Skills h1  {
        padding: 50px 0px 40px 0px;
    }
    
    .Skill_box    {
        width: 42%;
        height: 68%;
        padding: 65px 50px;
        left: 70px;
        top: 20px;
    }
        
    .Skill_box p    {
       font-size: 22px;
    }
        
    #icon2  {
        height: 450px;
        width: 25%;
        margin-right: 120px;
        top: -470px;
        left: 62%;
    }
}   
@media screen and (max-width: 1100px)    {          /*Tab view 2*/
    #Skills {
        height: 720px;
    }

    #Skills h1  {
        padding: 50px 0px 40px 0px;
        font-size: 46px;
    }
        
    .Skill_box    {
        width: 42%;
        height: 68%;
        padding: 55px 40px;
        left: 70px;
        top: 20px;
    }
        
    .Skill_box p    {
        font-size: 23px;
    }
        
    #icon2  {
        height: 430px;
        width: 27%;
        left: 62%;
        margin-right: 90px;
        top: -480px;
    }
} 
@media screen and (max-width: 950px)    {       /*Tab view 3*/
    #Skills {
        height: 1175px;
    }

    #Skills h1  {
        text-align: center;
        padding: 55px 0px 45px 0px;
        font-size: 44px;
        font-weight: 1600px;
    }

    .Skill_box p    {
        font-size: 22px;
    }
    
    .Skill_box    {
        width: 80%;
        height: 480px;
        padding: 50px 35px;
        left: 10%;
        right: 12%;
    }

    #icon2  {
        float: none;
        height: 450px;
        width: 45%;
        position: relative;
        top: 50px;
        left: 28%;
    } 
} 
@media screen and (max-width: 680px)    {
    #Skills {
        height: 1075px;
    }

    #Skills h1  {
        text-align: center;
        padding: 50px 0px 40px 0px;
        font-size: 40px;
        font-weight: 1600px;
    }

    .Skill_box p    {
        font-size: 20px;
    }
            
    .Skill_box    {
        width: 80%;
        height: 450px;
        padding: 50px 35px;
        left: 10%;
        right: 10%;
    }

    #icon2  {
        height: 410px;
        width: 47%;
        top: 50px;
        left: 28%;
    } 
} 
@media screen and (max-width: 580px)    {       /*Mobile view*/
    #Skills {
        height: 1025px;
    }

    #Skills h1  {
        text-align: center;
        padding: 50px 0px 30px 0px;
        font-size: 38px;
        font-weight: 1600px;
    }

    .Skill_box p    {
        font-size: 18px;
    }
            
    .Skill_box    {
        width: 80%;
        height: 450px;
        padding: 50px 35px;
        left: 10%;
        right: 10%;
    }

    #icon2  {
        height: 360px;
        width: 48%;
        top: 60px;
        left: 26%;
    } 
}              /*RESPONSIVE SKILL PAGE END*/
/*Skill page ends*/

/*Work page starts*/
#Works    {
    height: max-content;
    background-color: rgba(43, 42, 42, 0.842);
    font-family: "Josefin Sans";
    font-size: 30px;
    color: #edf0f1;   
}

#Works h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
}

.work_icon  {
    padding: 45px 20px;
}

.project_icon   {
    box-shadow: 0 0 10px #edf0f1;
    height: 20%;
    width: 22.5%;
    margin: 0% 5%;
}

.Interest_box    {
    width: 100%;
    height: 27%;
    margin-top: 30px;
    padding: 15px;
    color: #edf0f1;
    font-weight: 800;
    position: relative;
    text-align: center;
}

.Interest_box h4    {
    padding:25px 0px 30px 0px;
    font-size: 30px;
    color: #28abb9;
    font-family: "Josefin Sans";
}

.Interest_box p   {
    display: inline;  
}

.Interest_box img   {
    margin: 5px 18px;
    
    height: 170px;
    width: 210px;
}
/*RESPONSIVE WORK PAGE STARTS*/
@media screen and (max-width: 1200px)    { 
    .work_icon  {
        padding: 50px 30px;
    }

    .project_icon   {
        box-shadow: 0 0 10px #edf0f1;
        height: 20%;
        width: 26.5%;
        margin: 0% 3%;
    }

    .Interest_box img   {
        margin: 5px 15px;
        height: 150px;
        width: 160px;
    }
}
@media screen and (max-width: 945px)    { 
    #Works h1{
        font-size: 46px;
    }

    .work_icon  {
        padding: 50px 15px;
    }

    .project_icon   {
        box-shadow: 0 0 10px #edf0f1;
        height: 22%;
        width: 27.5%;
        margin: 2.5%;
    }

    .Interest_box h4    {
        font-size: 28px;
        padding: 20px 0px 30px 0px;
    }

    .Interest_box img   {
        margin: 5px 10px;
        height: 38%;
        width: 20%;
    }
}
@media screen and (max-width: 830px)    { 
    #Works h1{
        font-size: 42px;
    }

    .work_icon  {
        padding: 50px 15px 30px 15px;
    }

    .project_icon   {
        box-shadow: 0 0 10px #edf0f1;
        height: 21%;
        width: 66%;
        margin: 3% 16% 3% 17%; 
    }
    .Interest_box   {
        padding: 1px;
    }
    .Interest_box h4    {
        font-size: 29px;
        padding: 15px 0px 30px 0px;
    }

    .Interest_box img   {
        margin: 15px 10px;
        height: 37%;
        width: 43%;
    }
}
@media screen and (max-width: 680px)    {           /*Mobile view*/
    #Works h1{
        font-size: 42px;
    }

    .work_icon  {
        padding: 50px 15px 30px 15px;
    }

    .project_icon   {
        box-shadow: 0 0 10px #edf0f1;
        height: 21%;
        width: 68%;
        margin: 3% 15%;    
    }
    .Interest_box   {
        padding: 1px;
    }
    .Interest_box h4    {
        font-size: 29px;
        padding: 15px 0px 30px 0px;
    }

    .Interest_box img   {
        margin: 15px 10px;
        height: 37%;
        width: 43%;
    }
}       /*RESPONSIVE WORK PAGE ENDS HERE*/
/*Working Page ends here*/

/*Contact page starts*/
#Contact    {
    height: max-content;
    background-color: #28abb9;
    text-align: center;
}

#Contact h1     {
    font-family: "Josefin Sans";
    color: #edf0f1;
    font-size: 42px;
    font-weight: 800;
    padding: 3% 0% 1.5% 0%; 
}

ul#socialmedia {
    padding: 2% 0% 4% 0%;
    list-style-type: none; 
}

li#socialmedia {
    padding: 2% 1.5%;
    display: inline;
}

li#socialmedia a {
    font-family:"Prata";
    font-size: 16px;
    color: #edf0f1;
    background-color:rgba(43, 42, 42, 0.842);
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
}

li#socialmedia a:hover {
    background-color: #edf0f1;
    color: rgba(43, 42, 42, 0.842);
}

#BackToHome {
    background-color:#edf0f1;
    padding: 15px;
    border-radius: 50%;
    position: relative;
    top: -15px; 
}

#BackToHome:hover   {
    background-color: rgba(43, 42, 42, 0.5);
}
/*RESPOSNIVE CONTACT PAGE STARTS*/
@media screen and (max-width: 1150px)    {
    #Contact h1     {
        font-size: 38px;
    }
    li#socialmedia a {
        font-size: 16px;
        padding: 8px 13px;
    }
}
@media screen and (max-width: 840px)    {
    #Contact h1     {
        font-size: 32px;
        padding: 3.5% 0% 3% 0%;
    }
    ul#socialmedia {
        padding: 3% 0% 6% 0%;
    }
    li#socialmedia {
        padding: 2% 2%;
    }
    li#socialmedia a {
        font-size: 15px;
    }
}
@media screen and (max-width: 560px)    {
    #Contact h1     {
        font-size: 30px;
        padding: 5% 0% 3% 0%;
    }
    ul#socialmedia {
        padding: 4% 0% 8% 0%;
    }
    li#socialmedia {
        padding: 1% 2.5%;
    }
    li#socialmedia a {
        font-size: 14px;
    }
    #BackToHome {
        padding: 13px;
        top: -15px;
        left: 0; 
    }
}               /*RESPONSIVE CONTACT PAGE ENDS*/
/*Contact Page ends*/


